.mainCont {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 200px;
  /* justify-content: space-evenly; */
}
/* #root {
  background-color: rgb(255, 255, 255);
  height: 100vh;
} */
.allFormLinkCont{
  display: flex;
  flex-wrap: wrap;

}
.plusIcon::before{
  font-size: 2.5rem;
  opacity: 0.15;
  color: black;
  text-align: center;
  content: "\271A";
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.formLinkCont {
  font-size: 1.2rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(219, 224, 250);
  min-width: 135px;
  max-width: 135px;
  min-height: 122px;
  max-height: 122px;
  /* border: rgb(169, 162, 255) 2px solid; */
  box-shadow: grey -2px 3px 5px;

  border-radius: 7px;
  margin: 50px 50px;
}
.createForm {
  background-color: rgb(232, 214, 248);
}

.formLink {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 135px;
  max-width: 135px;
  min-height: 90px;
  max-height: 90px;
  word-spacing: 2px;
  
  /* padding: 15px; */
  
}

.formLink .formLinkSpan {
  max-height: 75px;
  overflow: hidden;
  max-width: 120px ;
  word-wrap: break-word;
  text-align: center;
  color: rgb(88, 128, 180);
  
}

.formLinkOption {
  
  width: 32px;

  
  
  letter-spacing: 3px;
  place-items: center;
  padding: 0;
  
  font-weight: bold;
  border: none;
  position: relative;
  left: 98px;
  max-height: 30px;
  margin: 0;
}

.dropdown {
  width: 100%;
  background-color: grey;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  min-height: 30px;
  display: inline-flex;
  align-items: center;
}

/* font-size: 1rem; */

#deleteBtn {
  min-width: 5rem;
  cursor: pointer;
  content: none;
}

#deleteBtn::after {
  content: none;
}


@media(max-width:1044px) {
  .mainCont {
    padding: 50px 100px;
  }
}

@media(max-width:870px) {
  .mainCont {
    padding: 50px 0px;




  }

  .allFormLinkCont{
    padding: 0px 50px;
  }
  .formLinkCont {
    margin:40px 40px  ;
  }

  
}

@media(max-width:700px) {

  .formLinkCont {
    /* margin:50px  auto ; */
  }



  .allFormLinkCont{
    padding: 0px 40px;
  }




  .mainCont {
    
    padding: 50px 0px;
    /* flex-direction: column; */
    /* justify-content: space-between; */
  }
  .formLinkCont {
    margin:18px  18px;
    
    
  }

 

}

@media(max-width:465px){

  .mainCont {
    /* display: grid;
    grid-template-columns: auto auto ;
    gap:30px; */
    padding: 50px 0px;
    justify-content: center;
    /* flex-direction: column; */
  }

  .formLinkCont {
    margin:20px  20px;
    
    
  }
  .allFormLinkCont{
    padding: 0px 32px;
  }

}
@media(max-width:411px){
  .allFormLinkCont{
    padding: 0px 30px;
  }
}

@media(max-width:375px){

.allFormLinkCont{
  padding: 0px 14px;
}
.formLinkCont{
  margin:18px  18px;

}
}
@media(max-width:360px){
  .allFormLinkCont{
    padding:0px 7px;
  }
  /* .formLinkCont{
    margin:8px  8px;
  
  } */
}

@media(max-width:320px){

  .allFormLinkCont{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  }
