nav {
  color: white;
  border-bottom: rgb(35, 66, 95) solid 2px;
  background-color: rgb(81, 105, 128);
  padding: 10px 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

#siteName {
  font-size: 2.5rem;
  margin-left: 7%;
  cursor: default;
  user-select: none;
}

.navBarBtn {
 
  margin: 0px 10px;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 3px;
  cursor: pointer;
  
  
}
.navBarBtn:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.navBarBtnCont {
  position: absolute;
  right: 60px;
  user-select: none;
}


@media(max-width:582px){
  nav {
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */

      padding: 5px 20px;
  }

  #siteName{
      /* font-size: 3.2rem; */
      margin-left: 0;

  }

  .navBarBtnCont {

      /* position:unset; */
      /* width: 60%; */
      right: 5px;
     
  }
  .navBarBtn{
      /* float: right; */
      margin: 5px;
  }
  

}

@media(max-width:465px){
  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */

      padding: 5px 8px;

  }
  .navBarBtnCont {

      position:unset;
      width: 240px;
      right: 5px;
     
  }
  .navBarBtn{
      float: right;
      margin: 0;
  }



}


