nav {
  color: white;
  /* background-color: rgb(81, 105, 128); */
  padding: 10px 50px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  z-index: 1;
  position: relative;
  /* background-image: linear-gradient(to bottom right, #000428, #004e92); */
  background-image: linear-gradient( to right , #185a9d,  #43cea2 );
}

#siteName {

  
  margin-left: 7%;
  cursor: pointer;
  user-select: none;
  
}
#siteName a{
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
}

.navBarBtn {
 
  margin: 0px 10px;
  font-size: 1rem;
  padding: 4px 10px;
  border-radius: 2px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: 0.2s ease all;
  
  
}
.navBarBtn:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
.navBarBtnCont {
  position: absolute;
  right: 60px;
  user-select: none;
}


.aboutHeading{
  align-self: flex-start;
  margin-left: 50px;
  margin-bottom:20px;
  padding: 0px 10px;
  border-bottom: 2px solid;
  border-radius: 2px;
}

.aboutText{
  text-align: justify;
  padding: 0 50px;

}


@media(max-width:582px){
  nav {
      /* display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; */

      padding: 5px 20px;
  }

  #siteName{
      /* font-size: 3.2rem; */
      margin-left: 0;

  }

  .navBarBtnCont {

      /* position:unset; */
      /* width: 60%; */
      right: 5px;
     
  }
  .navBarBtn{
      /* float: right; */
      margin: 5px;
  }

  

}

@media(max-width:465px){
  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
        border-bottom: rgba(228, 236, 248, 0.904) solid 2px;

      padding: 5px 8px;

  }
  .navBarBtnCont {

      position:unset;
      width: 240px;
      right: 5px;
     
  }
  .navBarBtn{
      float: right;
      margin: 0;
  }

  .aboutHeading{
    align-self: unset;
    margin-left: 0px;
    margin-bottom:20px;
    /* padding: 0px 10px; */
    border-bottom: 2px solid;
    border-radius: 2px;
  }
  
  .aboutText{
    text-align: justify;
    padding: 0 0px;
  
  }



}

@media(max-width:400px){

  .aboutHeading{
    font-size: 1.4rem;
    margin-bottom:20px;
    /* padding: 0px 10px; */
    border-bottom: 2px solid;
    border-radius: 2px;
  }


}


